@model ML.Persona
@{
    ViewBag.Title = "GetAll";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Carga Masiva Empleado</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Seleccione Tu archivo a Cargar </h5>
                <hr />
            </div>
            @using (Html.BeginForm("CargaMasiva", "Persona", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" class="form-control" placeholder="Archivo" name="Archivo" />
                <input type="submit" class="success" value="Cargar" />


                <b>@ViewBag.mensaje</b>

            }
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un usuario para editar o + para agregar...</h5>
            <hr />
        </div>

    </div>

    <div style="float:right;">
        @Html.ActionLink("+", "Form", "Persona", htmlAttributes: new { @class = "btn btn-success" })
    </div>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <td>Editar</td>
                <td>IdPersona</td>
                <td>Nombre</td>
                <td>ApellidoPaterno</td>
                <td>ApellidoMaterno</td>
                <td>Eliminar</td>

            </tr>
        </thead>
        <tbody>
            @foreach (ML.Persona persona in Model.Personas)
            {
                <tr>
                    <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Empleado", new { IdPersona = persona.IdPersona })"></a></td>
                    <td>@persona.IdPersona</td>
                    <td>@persona.Nombre</td>

                    <td>@persona.ApellidoPaterno</td>
                    <td>@persona.ApellidoMaterno</td>

                    <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { IdPersona = persona.IdPersona})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
